{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Contact Us" %}{% endblock title %}
    <!-- Navbar End -->
{% block content %}
    <!-- Breadcrumb Start -->
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">{% trans "Contact Us" %}</span></h2>
        <h5 class='mx-xl-5'>{% trans "leave us your message" %}</h5>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method='POST' name="sentMessage" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="control-group">
                            {{form|crispy}}
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">{% trans "Send Message" %}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>{{our_info.address}}</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>{{our_info.email}}</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>{{our_info.phone}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% endblock content %}



    
