{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "all orders" %} {% endblock title %}

{% block content %}
    <div class='pl-3'>
        <div class="pl-3 row">
            {% for order in object_list %}
                <div class="card col-lg-3 mr-1 text-center">
                    <div class="card-body">
                    <h5 class="card-title">{% trans "Order" %} {{order.id}}</h5>
                    <p class="card-text">{% trans "You can pay anytime you want" %} </p>
                    <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">{% trans "watch" %}</a>
                    <a href="{% url 'order_delete' order.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
                    </div>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}